{{> menu active="Station" }}

<div class="content box">
  <tr>
    <iframe src="{{station.mapSrc}}" width="100%" height="100"></iframe>
  </tr>
  <table class="table">
    <thead class="title">
      <tr class="sunny has-text-centered">
        <th class="has-text-link">{{station.location}} <i class="fas fa-location-crosshairs main-icon"></i></th>
        <th class="has-text-link">Weather <i class="fa fa-cloud-sun main-icon"></i></th>
        <th class="has-text-link">Temperature <i class="fas fa-temperature-half main-icon"></i></th>
        <th class="has-text-link">Wind <i class="fa fa-wind main-icon"></i></th>
        <th class="has-text-link">Pressure <i class="fa fa-layer-group main-icon"></i></th>
      </tr>
    </thead>
    <tbody class="has-background-link-dark">
      <tr>
        <td>
          <p class="box subtitle is-6">
            Latitude: {{station.latitude}}<br>
            Longitude: {{station.longitude}}
          </p>
        </td>
        
        {{> station-last-reading}}
      
      </tr>
    </tbody>
  </table>
  
  <div class="content box">
    <h2 class="subtitle is-6">Submitted Readings for {{station.location}}</h2>
    
    {{> list-readings}}
  
  </div>
</div>

<section class="content box">
  <h3 class="subtitle is-5">
    Add a new reading
</h3>

{{> add-reading}}

<br>

{{> add-openweather-reading}}
  
</section>

{{> station-charts}}
